ul {
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1.6rem;
  font-family: 'Lato', sans-serif;
}

header {
  display: flex;  
  justify-content: space-between;
  padding-left: 40px;
  padding-right: 40px;
  color: white;
  height: 89px;
  background-color: #2D303A;
  border-bottom: 6px solid #2C3445;
}

h1 {
  margin: 0;
  font-size: 2.5rem;
  font-weight: 700;
  color: white;
}

h2 {
  font-size: 3rem;
  letter-spacing: -0.02rem;
  font-weight: 900;
  margin: 0;
  margin-top: 18px;
}

.wrapper {
  max-width: 1020px;
  margin: 0 auto;
}

.logo {
  margin-top: 28px;
  letter-spacing: -0.05rem;
  cursor: pointer;
  font-weight: bold;
}

.logo span {
  color: #FF6C64;
}

.logo a {
  text-decoration: none;
}

.logo__text{
  text-decoration: none;
}

.header__navigation {
  margin-top: 42px;
}

.navigation {
  letter-spacing: -0.02rem;
  font-size: 1.2rem;
  font-weight: 700;
  margin: 0;
}

.navigation li{
  transition: color 0.5s;
  display: inline;
  margin-right: 10.5px;
}

.navigation li:last-child{
  margin-right: 0;
}

.navigation li a:hover{
  color: #FF6C64;
}

.navigation li:not(:first-child):before {
  content: "\2219";
  display: inline-block;
  width: 1.45em;
  line-height: 1px;
  color: #494e62;
}

.navigation li a{
  text-decoration: none;
  color: #fff;
}

.slider {
  display: flex;
  height: 594px;
  background-color: #FF6C64;
}

#slider-left-btn {
  cursor: pointer;
  margin: 280px 54px 0 42px;
}

#vertical-iphone {
  margin-top: 53px;
  margin-right: 73px;
}

#horisontal-iphone {
  margin-top: 174px;
}

#slider-right-btn{
  cursor: pointer;
  margin-left: 55px;
  margin-top: 280px;
}

.line2{
  height: 6px;
  background-color: #FF676B;
}

.content{
  padding: 41px 40px 63px 40px;
  background-color: #F2F2F2;
  margin-bottom: 6px;
  color: #666D89;
}

.content-text {
  line-height: 3rem;
  margin-top: 18px;
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
}

.service-block {
  display: flex;
  margin-top: 43px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.service-block__block {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.block__icon {
  margin-top: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 55px;
  height: 55px;
  border: 2px solid #636D8B;
  border-radius: 50%;
}

.block__text {
  text-align: justify;
  flex-wrap: wrap;
  display: flex;
  width: 220px;
}

.block__text span:first-child {
  font-size: 1.8rem;
  letter-spacing: -0.02rem;
  font-weight: 900;
}

.block__text span:last-child {
  line-height: 21.5px;   
  margin-top: 8px;
  font-size: 1.2rem;
}

.mrgn-top {
  margin-top: 30px;
}